---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { newtClient } from '@lib/newt'
import type { Article } from '@lib/newt'
import dayjs from 'dayjs';

export const getStaticPaths = async () => {
  const { items: articles } = await newtClient.getContents<Article>({
    appUid: 'blog',
    modelUid: 'article',
  })
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }))
}

// Get the entry directly from the prop on render
const { article } = Astro.props;
// const { Content } = await article.render();

const object = new Date(article._sys.raw.publishedAt)
const datetime = dayjs(object).format('YYYY年MM月DD日')
---

<Layout title={article.title}>
  <Container>
    <div class="mx-auto max-w-3xl mt-14">
      {
        article.tags.map((tag) => {
          return (
          <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
            {tag.name}
          </span>
          )
        })
      }
      <h1
        class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
        {article.title}
      </h1>
      <div class="flex gap-2 mt-3 items-center flex-wrap md:flex-nowrap">
        <time
          class="text-gray-400"
          datetime={datetime}>
          {datetime}
        </time>
        <span class="text-gray-400 hidden md:block">•</span>
        {
          article.tags.map((tag) => {
            return (
            <div class="w-full md:w-auto flex flex-wrap gap-3">
              <span class="text-sm text-gray-500">#{tag.name}</span>
            </div>
            )
          })
        }
      </div>
    </div>

    <div class="mx-auto prose prose-lg mt-6 max-w-3xl" set:html={article.body}>
    </div>
    <div class="text-center mt-8">
      <a
        href="/blog"
        class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
        >← Back to Blog</a
      >
    </div>
  </Container>
</Layout>
